@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black: #121212;
  --dark-blue: #19202D;
  --white: #FFFFFF;
  --grey-100: #E7EAEE;
  --grey-200: #CFCFCF;
  --grey-400: #676D7E;
  --grey-500: #48556A;
  --purple-50: #EDE4FF;
  --purple-300: #A775F1;
  --purple-500: #733FC8;
  --background-white: #F6F5F6;
}

body {
  padding: 4.625em 2.25em;
  display: flex;
  flex-flow: column;
  gap: 2em;
  background: var(--background-white);
}

.testi-card {
  border-radius: 8px;
  padding: 2em;
  background: var(--white);
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);

  &.-purple {
    background: var(--purple-500);
    color: var(--white);

    /* todo: applies for the "verified graduate" and last paragraph */
    /* color: var(--purple-50); */

    >.headshot {
      border-color: var(--purple-300);
    }
  }

  >.headshot {
    width: 28px;
    height: 28px;
    border-radius: 99px;
    border: 2px solid var(--purple-300);
  }
}

/* semibold */
.text-preset-1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;

  color: var(--dark-blue);
}

/* medium */
.text-preset-2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13;
  line-height: 110%;
  letter-spacing: 0;

  color: var(--dark-blue);
}

/* medium */
.text-preset-3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13;
  line-height: 140%;
  letter-spacing: 0;

  color: var(--dark-blue);
}

/* medium */
.text-preset-4 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 11;
  line-height: 110%;
  letter-spacing: 0;

  color: var(--dark-blue);
}
