@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black: #121212;
  --dark-blue: #19202D;
  --white: #FFFFFF;
  --grey-100: #E7EAEE;
  --grey-200: #CFCFCF;
  --grey-400: #676D7E;
  --grey-500: #48556A;
  --purple-50: #EDE4FF;
  --purple-300: #A775F1;
  --purple-500: #733FC8;
  --background-white: #F6F5F6;

  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 4.625em 2.25em;
  background: var(--background-white);
}

.testi-list {
  display: flex;
  flex-flow: column;
  gap: 2em;
  letter-spacing: 0;
}

.testi-card {
  border-radius: 8px;
  padding: 2em;
  background: var(--white);
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);

  display: flex;
  flex-direction: column;
  row-gap: 1em;

  .headshot {
    width: 28px;
    height: 28px;
    border-radius: 99px;
    border: 0px;
  }

  .avatar-box {
    display: flex;
    flex-flow: row;
    gap: 1em;
  }

  .person-box {
    display: flex;
    flex-flow: column;

    >.fullname {
      font-weight: 500;
      font-size: 13px;
      line-height: 110%;
    }

    >.verification {
      font-weight: 500;
      font-size: 11px;
      line-height: 110%;
    }
  }

  .result {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }

  .beforequote {
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
  }
}

.testi-card.-purple {
  background: var(--purple-500);

  .headshot {
    border-color: var(--purple-300);
    border: 2px solid var(--purple-300);
  }

  .fullname,
  .result {
    color: var(--white);
  }

  .verification,
  .beforequote {
    color: var(--purple-50);
  }
}

.testi-card.-grey {
  background: var(--grey-500);

  .headshot {
    border: 0px;
  }

  .fullname,
  .result {
    color: var(--white);
  }

  .verification,
  .beforequote {
    color: var(--grey-100);
  }
}

.testi-card.-dark-blue {
  background: var(--dark-blue);

  .headshot {
    border: 0px;
  }

  .fullname,
  .verification {
    color: var(--white);
  }

  .result {
    color: var(--grey-200);
  }

  .beforequote {
    color: var(--grey-100);
  }
}
